body {
  margin: 0;
  background: #0a0a0a;
  font-family: sans-serif;
  color: white;
}

input {
  position: absolute;
  top: 20px;
  left: 20px;
  background: #0a0a0a;
  color: #fff;
  border: 1px solid #333;
  padding: 6px;
  width: 150px;
}
